@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

  .circles {
    height: 55vmin;
    width: 55vmin;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2.5vmin solid transparent;
    border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
    mix-blend-mode: screen;
    pointer-events: none;
    box-shadow: #00ffff 0 0 10px, inset #00ffff 0 0 10px;
  }

  .circle:nth-child(1) {
    border-color: #00ffff;
    
    transform-origin: 50% 50%;
    -webkit-animation: spin1 5.5s linear infinite;
            animation: spin1 5.5s linear infinite;
  }
  .circle:nth-child(2) {
    border-color: #00b6b6;
    transform-origin: 50% 50%;
    -webkit-animation: spin2 5.5s linear infinite;
            animation: spin2 5.5s linear infinite;
  }
  .circle:nth-child(3) {
    border-color: #009c9c;
    transform-origin: 50% 50%;
    -webkit-animation: spin3 5.5s linear infinite;
            animation: spin3 5.5s linear infinite;
  }
  .circle:nth-child(4) {
    border-color: #006868;
    transform-origin: 50% 50%;
    -webkit-animation: spin4 5.5s linear infinite;
            animation: spin4 5.5s linear infinite;
  }
  
  @-webkit-keyframes spin1 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin1 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin2 {
    0% {
      transform: rotate(72deg);
    }
    100% {
      transform: rotate(-288deg);
    }
  }
  @keyframes spin2 {
    0% {
      transform: rotate(72deg);
    }
    100% {
      transform: rotate(-288deg);
    }
  }
  @-webkit-keyframes spin3 {
    0% {
      transform: rotate(-144deg);
    }
    100% {
      transform: rotate(216deg);
    }
  }
  @keyframes spin3 {
    0% {
      transform: rotate(-144deg);
    }
    100% {
      transform: rotate(216deg);
    }
  }
  @-webkit-keyframes spin4 {
    0% {
      transform: rotate(216deg);
    }
    100% {
      transform: rotate(-144deg);
    }
  }
  @keyframes spin4 {
    0% {
      transform: rotate(216deg);
    }
    100% {
      transform: rotate(-144deg);
    }
  }

  body,
  html {
    background-color: black;
    margin: 0px;
    padding: 0px;
  }

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: black;
  color: #fff;
}

.input-panel {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.input-panel.-hidden-panel {
  display: none;
}

.input-panel input {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
  line-height: var(--font-size);

  background: transparent;
  color: #ffffff;
  border-color: solid #ffffff;

  border: none;
  border-bottom: solid #ffffff;
  min-height: 3vh;
  max-width: 10vw;
  min-width: 10vw;

  outline: none;
  text-align: center;

  transition: 0.3s ease;
}

.input-panel input:hover, input:focus{
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
  border-radius: 10vh;
  border-color: #00ffff;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  color: #00ffff;
}

.hidden {
  display: none;
  font-size: clamp(12px, 2vw, 2vh);
  line-height: clamp(12px, 2vw, 2vh);
  color: #00ffff;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.error {
  color: #ff4343;
  max-width: 15vw;
  text-align: center;
  animation: blink-text 1.5s ease-in-out infinite;
}

@keyframes blink-text {
  0%, 100% {
    text-shadow: #ff4343 0 0 6px;
  }
  50% {
    text-shadow: #ff4343 0 0 16px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.servers-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  flex-grow: 1;
}

.servers-list::-webkit-scrollbar {
  display: none;
}

.server-button {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.5s ease;
}

.server-button:hover, .account-button:hover {
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
  border-color: #00ffff;
  color: #00ffff;
}

.account-button:hover .account-menu{
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
  border: 2px solid  #00ffff;
  color: #00ffff;
  height: 100px;
  overflow: visible;
}

.account-button {
  position: relative;
  display: flex;
  height: 100%;
  aspect-ratio: 1/1;
  background: #000;
  border: 0px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.5s ease;
  box-sizing: border-box;
  margin: 10px;
}

.account-settings {
  color: #fff;
  transition: all 0.5s ease;
}

.account-notifications {
  color: #fff;
  transition: all 0.5s ease;
  height: 100%;
}

.account-notifications-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 10px;
}

.account-settings:hover, .account-notifications:hover {
  color: #00ffff;
  filter: drop-shadow(0 0 5px #00ffff);
  cursor: pointer;
}

.notifications-menu {
  position: absolute;
  background: transparent;
  width: 0%;
  height: 0px;
  top: 0%;
  border: 2px solid transparent;
  border-radius: 1vh 1vh 1vh 1vh;
  transition: all 0.5s ease;
}

.account-notifications-wrapper:hover .notifications-menu {
  height: 200px;
  width: 300%;
  top: 100%;
  background-color: #000;
  border-color: #00ffff;
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
}

.status {
  height: 10px;
  width: 10px;
  background-color: #43ff43;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  z-index: 11;
  left: 1px;
}

.account-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000;
  border: 0px solid #fff;
  border-radius: 0vh 0vh 1vh 1vh;
  transition: all 0.5s ease;
  top: 50%;
  height: 0px;
  width: 100%;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}

.avatar-wrapper {
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 50%;
}

.main-plane {
  display: flex;
  width: 100%;
  height: 100%;
}

.up-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0px solid #fff;
  height: 0px;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.up-menu:hover {
  border: 3px solid #fff;
  height: 5vh;
}

.up-menu:hover .account-button {
  border: 2px solid #ffffff;
}

.open-up-menu:hover + .up-menu {
  border: 3px solid #fff;
  height: 5vw;
}

.open-up-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  width: 100%;
}

.up-item {
  transition: all 0.5s ease;
  margin: 10px;
  height: 0px;
  height: 100%;
}

.up-item:hover {
  color: #00ffff;
  filter: drop-shadow(0 0 5px #00ffff);
  cursor: pointer;
}

.chats-panel {
  width: 15%;
  height: 100%;
  border-right: 3px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  display: flex;
  width: 98%;
  margin: 2%;
}

.chat-avatar {
  height: 50px;
  width: 50px;
  border: solid #fff 1px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
}

.chat-name {
  margin-left: 5%;
  align-self: center;
}

.chat-button {
  display: flex;
  flex-grow: 1;
  background: transparent;
  border: solid #fff 2px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.chat-button:hover {
  border-radius: 10vh;
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
  border-color: #00ffff;
  color: #00ffff;
}

.chat-window {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.message-input {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
  line-height: var(--font-size);

  background: transparent;
  color: #ffffff;
  border-color: solid #ffffff;

  border: none;
  border-bottom: solid #ffffff;
  min-height: 3vh;

  outline: none;
  text-align: center;
  flex-grow: 1;

  transition: 0.3s ease;
}

.message-input:hover .message-input:focus {
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
  border-radius: 10vh;
  border-color: #00ffff;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  color: #00ffff;
}

.message-button {
  background: transparent;
  color: #ffffff;
  border-color: solid #ffffff;
  border-radius: 0px;
  border: none;
  border-bottom: solid #ffffff;
  outline: none;
  text-align: center;
  transition: 0.3s ease;
}

.message-button:hover {
  box-shadow: #00ffff 0 0 7px, inset #00ffff 0 0 7px;
  border-radius: 10vh;
  border-color: #00ffff;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  color: #00ffff;
}

.message-panel {
  width: 100%;
  display: flex;
  align-self: end;
}

.chat-settings {
  width: 100%;
  height: 10vh;
  border-bottom: solid #ffffff;
}

.messages {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  border: solid #fff;
  border-radius: 2vh;
  margin: 1%;
  padding: 1%;
}

.message .author-info {
  color: #959595;
}

.message .timestamp {
  color: #555555;
}

.message-info {
  flex-grow: 1;
  margin-left: 1%;
}

.user-avatar {
  height: 50px;
  width: 50px;
  border: solid #fff 1px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  align-items: center;
}

.message-control {
  display: flex;
  align-items: center;
}

.sign-in {
  position: absolute;
  top: 80%;
  transition: all 0.5s ease;
}

.sign-in:hover, .sign-in-selected {
  color: #00ffff;
  cursor: pointer;
  position: absolute;
  top: 80%;
  filter: drop-shadow(0 0 10px #00ffff);
}

.create-account {
  position: absolute;
  bottom: 80%;
  transition: all 0.5s ease;
}

.create-account:hover, .create-account-selected {
  position: absolute;
  bottom: 80%;
  color: #00ffff;
  cursor: pointer;
  filter: drop-shadow(0 0 10px #00ffff);
}

.active {
  color: #00ffff;
  filter: drop-shadow(0 0 10px #00ffff);
}

.arrow-container {
  height: 80%;
  width: 80%;
  position: absolute;
}

